<link rel="stylesheet" href="/stylesheets/navbar.css">

<nav>
  <div class="brand">
    <img id="logo"
      src="/images/xpensoLogo.png"
      alt="logo">
    Xpenso
  </div>

  <div class="rightSection">
    <div class="versionDisplay">Beta<i class="fa-solid fa-flask"></i></div>
    <i class="fa-solid fa-bars" id="openMenu" title="Menu"></i>
  </div>
</nav>

<div id="hamburger" class="hideHam">
  <i class="fa-solid fa-xmark closeIcon" id="closeMenu"></i>
  <a href="/v1/dashboard">
    <div class="bar">
      Dashboard
    </div>
  </a>
  <a href="/v1/profile">
    <div class="bar">
      My Profile
    </div>
  </a>
</div>
<script src="/javascripts/navbar.js"></script>