<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/transaction/" method="POST">
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required>
        <label for="type">Type:</label>
        <select id="type" name="transactionType" required>
            <option value="expense">expense</option>
        </select>
        <label for="category">Type:</label>
        <select id="category" name="category" required>
            <option value="food">Food</option>
            <option value="travel">Travel</option>
            <option value="games">games</option>
            <option value="shopping">shopping</option>
        </select>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>
        <input type="submit" value="Submit">
    </form>
</body>
</html>