<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="loginStyle.css">
</head>
<body>
    <div class="header">
        <div id="logo"></div>
        <div class="mainline">
            <p id="title">Xpenso</p>
            <p id="moto">Track your expense effortlessly!</p>
        </div>
        <button id="newuser">New User</button>
    </div>
    <p id="log">LOGIN</p>
    <div class="login">
        <div id="entry">
            <p>Email :</p>
            <input type="email" placeholder="Enter Your Email" id="emailId">
            <p>Password :</p>
            <input type="password" placeholder="Enter Your Password" id="password">
        </div>
        <div class="forgotPassword">
            <a href="#">Forgot Password?</a>
            Remember me<input type="checkbox" id="remember">
        </div>
    </div>
    <button id="signIn">Sign in</button>
</body>
</html>