<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login Page</title>
    <link rel="stylesheet" href="/stylesheets/loginStyle.css">
</head>
<body>
    
    <div class="header">
        
        <div id="logo">
           
            <img src="ICONS/site_logo_noBG.png" alt="">
            <h2 id="site_name">Xpenso</h2>
        </div>
        <div id="options">
            <div  id="login">LogIn</div>
            <div id="signup">SignUp</div>
        </div>
    </div>
    <div class="login-page">
        <H1>LOGIN</H1>
        <input type="email" id="email" placeholder="  Email" class="input">
        <input type="password" id="pass" placeholder="  Password" class="input">


        <button id="login_button">LOG IN</button>
    

    </div>
    <script>
        const button=document.getElementById('login_button');
        button.addEventListener('click',function(){
            const e=document.getElementById('email').value;
            const p=document.getElementById('pass').value;
            
            
        });
    </script>

</body>
</html>