*{
    margin: 0;
    padding: 0;
   
}
body{
    background-color: #a7d4f2;
}
#logo{
    height: 80%;
    text-align: center;
    margin-left: 2%;
    display: flex;
    color: white;
    align-items: center;
    
}
#logo img{
    height: 7vh;
    margin-right: 2vh;
    
}
.header{
    
    height: 8vh;
    /* border: 2px; */
    background-color: rgb(3, 67, 83);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* backdrop-filter: blur(7px); */
    position: sticky;
    top: 0;

    
}
#site_name{
    
    display: flex;
}

#options{
    color: white;
    padding-right: 1vh;

    display: flex;
    
    align-items: center;
    justify-content: space-between;
    
    height: 100%;
}

/* CSS for header till here */
#login{
    padding: 0.5vh;
}
#signup{
    padding: 0.5vh;
}




    
.login-page{
    /* width: 100vh; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* background-color: #a7d4f2; */
    /* color: white; */
}
.input{
    height: 5vh;
    border-radius: 2vh;
    width: 80vh;
    margin: 2vh;
    padding: 2v;
    border: 0.09vh solid grey;
}
#login_button{
    width: 18vh;
    height: 5vh;
    border-radius: 1vh;
    border: 0;
    transition: 0.2s;
}
#login_button:hover{
    background-color: rgb(3, 67, 83);
    color: white;
}















@media(max-width:800px){
    #site_name{
        background-color: red;
        display: none;
    }
}