*{
    margin: 0;
    padding: 0;
}
#logo{
    height: 80%;
    text-align: center;
    margin-left: 2%;
    display: flex;
    color: white;
    align-items: center;
}
#logo img{
    height: 7vh;
}
.header{
    height: 7vh;
    /* border: 2px; */
    background-color: #034353;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#user_page{
    border-radius:50%;
    width: 5vh;
    height: 5vh;
    padding: 0.7vh;

}
#user_page:hover{
    background-color: rgba(0, 0, 0,0.3);
}
.nav{
    background-color: rgba(0, 0, 0,0);
    border: 0;
    padding: 10px;
    transition: 0.2s;
    width:20vh;
    
    
}
.nav:hover{
    background-color: rgba(0, 0, 0,0.3);
}



.left-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 93vh;
    width: 20vh;
    box-shadow: 0 0 1px ;
    
}
#nav_options{
    display: flex;
    width: 20vh;
    flex-direction: column;
    justify-content: space-between;
    /* box-shadow: 0.3px 0px 0px rgb(150, 150, 150); */
    justify-content: space-between;
}

#search{
    width: 50%;
    height: 70%;
    border-radius: 3vh;
    border: 0vh;
}

#expense_details{
    background-color: rgba(0, 0, 0,0.1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 0;
    transition: 0.2s;
    width:100%;
    height: 35vh;
    border-top-right-radius: 5vh;
    border-top-left-radius: 5vh;
}
.details{
    padding: 0.5vh;
}
#month{
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(158, 158, 158);
    
}
.page{
    display: flex;
}



    