*{
    margin: 0;
    padding: 0;
}
#logo{
    height: 80%;
    text-align: center;
    margin-left: 2%;
}
.header{
    height: 50px;
    border: 2px;
    background-color: rgb(0, 183, 255);
    display: flex;
    align-items: center;
}
.left-nav{
    display: flex;
    width: 20vh;
    flex-direction: column;
    box-shadow: 0.3px 0px 0px rgb(150, 150, 150);
    height: 100vh;
    
    
}
.nav{
    background-color: rgba(0, 0, 0,0);
    border: 0;
    padding: 10px;
    transition: 0.2s;
    width:20vh;
}
.nav:hover{
    background-color: rgba(0, 0, 0,0.3);
}